<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "DangNhap";
}

<h2 style="color:blue">
    Đăng nhập
</h2>
@*<h1 tyle="color:#164bdd">@ViewBag.ThongBao</h1>*@
@using (Html.BeginForm())
{
    <h1 tyle="color:red">@Html.ValidationSummary()</h1>    
    <span>Tài khoản :</span> <br />
    <input name="username" type="text" />
    <br />
    <span>Mật khẩu:</span><br />
    <input name="password" type="password" />
    <br />
    <input type="submit" id="btnSubmit" name="btnSubmit" value="Đăng nhập" class="btn btn-primary" />

}
