<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="qlks3lopConnectionString" connectionString="Data Source=T-PC;Initial Catalog=qlks3lop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <!-- Register of StaffService, StaffTypeService -->
      <service name="WcfServiceQuanLyKhachSan.ServicePhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServicePhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServicePhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceVatTu" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceVatTu"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceVatTu" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServicePhieuThuePhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServicePhieuThuePhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServicePhieuThuePhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServicePhieuDatPhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServicePhieuDatPhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServicePhieuDatPhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceNhanVien" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceNhanVien"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceNhanVien" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceLogin" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceLogin"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceLogin" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceLoaiPhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceLoaiPhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceLoaiPhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceKiemTraPhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceKiemTraPhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceKiemTraPhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceKhachHang" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceKhachHang"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceKhachHang" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceInHoaDonPhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceInHoaDonPhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceInHoaDonPhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceInHoaDonDichVu" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceInHoaDonDichVu"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceInHoaDonDichVu" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceHoaDon" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceHoaDon"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceHoaDon" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceHeThong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceHeThong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceHeThong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceDichVu" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceDichVu"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceDichVu" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceChiTietVatTu" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceChiTietVatTu"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceChiTietVatTu" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceChiTietThuePhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceChiTietThuePhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceChiTietThuePhong" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceQuanLyKhachSan.ServiceChiTietDatPhong" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceQuanLyKhachSan.IServiceChiTietDatPhong"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7429/ServiceChiTietDatPhong" />
          </baseAddresses>
        </host>
      </service>

    </services>


  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
