
@{
    ViewBag.Title = "GioiThieu";
}
<h1 style="margin-left:10%">
    Thanh viên trong nhóm:<br /><br />
    1/ Trần Duy Tân - 3111410085<br /><br />
    2/ Phan Thanh Giàu - 3111410017<br /><br />
    3/ Trần Minh Tuấn - 3111410114<br /><br />
    4/ Ngô Nguyễn Thanh Tùng - 3111410115<br />
</h1>