@using DatPhongKhachSanWeb.LoaiPhongServiceReference
@model IEnumerable<LoaiPhongDTO>
<link href="~/Content/LoaiPhongCssLayout.css" rel="stylesheet" />
<hr />
<h2 style="margin-left:2%;font-weight:normal;color:blue">Danh mục loại phòng</h2>
<hr />
@foreach (var item in Model)
{
    <a id="btnLoaiPhong" style="width: 250px; font-size: 11pt; color: aliceblue; text-decoration: none" href="@Url.Action("PhongTheoLoai", new {@Loai=item.Maloai })" class="button button-submit btn-primary"> @item.Maloai</a>
}
<br />
<div style="clear:both"></div>
